{% extends "base.html.twig" %}
{% block title %}Gafouni-first-blog{% endblock %}
{% block content %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/pexels-content-pixie-2967810.jpg')">
    <!-- <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Haoua Abouna</h1>
                    <span class="subheading">Developpeuse web PHP/Symfony</span>
                </div>
            </div>
        </div>
    </div> -->
</header> 

<!--Main Content-->
<div class="row gx-4 gx-lg-5 justify-content-center bg-yellow">   
    <div class="col-md-10 col-lg-8 col-xl-7">
        <!-- Post preview-->
        <div class="post-preview">

          {% for post in posts %}
            <a href="?c=show&id={{post.id}}">
                <h4 class="post-title">{{post.title}}</h4>
                <h4 class="post-subtitle">Auteur : {{post.author}}</h4>
            </a>
            <h5 class="post-subtitle">
                Propose par
                {{post.user.first_name}} {{post.user.last_name}}
                 et publie le {{post.published|date("d/m/Y")}} 
            </h5>
          {% endfor %}

        </div>
        <!-- Divider-->
        <hr class="my-4"/>
        <hr class="my-4"/>

        <!-- Pager-->
        <div class="d-flex justify-content-end mb-4"><a class="btn btn-secondary text-uppercase" href="">Voir plus →</a></div>
    </div>
</div>        
<header class="masthead" style="background-image: url('assets/img/post-bg.jpg');height: 250px; ">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center bg-yellow">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {# <div class="page-heading">
                    <h2>Contactez-moi</h2>
                    <span class="subheading">N'hesitez pas a poser toutes vos questions</span>
                </div> #}
            </div>
        </div>
    </div>
</header>


{% endblock %}