{% extends "base.html.twig" %}
{% block title %}Gafouni-first-blog{% endblock %}
{% block content %}

 <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <p>Prenom: {{user.firstName}}</p>
                            <p>Nom: {{user. lastName}}</p>
                            <p>Numero de membre: {{user.id}}</p>
                            <!--<h1>About Me</h1> -->
                            {# <span class="subheading">Partagez vos articles avec nous!</span> #}
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: grey">
            <div class="container px-4 px-lg-5">
                {# <a class="navbar-brand" href="index.html">Gafouni-first-blog</a> #}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="?c=profile">Profil</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="?c=logout">Deconnexion</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="?c=admin">Administration</a></li>
                        
                    </ul>
                </div>
            </div>
        </nav>
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        {% if SESSION['message'] %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}
                        <h2>Bonjour {{user.firstName}} ! </h2><br>

                        <a class="btn btn-primary" href="?c=newPost" >Proposez un nouvel article</a><br>

                        <h3>Merci de nous avoir propose les articles ci-dessous:</h3>

                        {% for post in posts %}
                            <a href="?c=show&id={{post.id}}">
                                <h2 class="post-title">{{post.title}}</h2>
                                <h3 class="post-subtitle">{{post.author}}</h3>
                            </a>
                            <p class="post-meta">
                                Publie le
                                {{post.date|date("d/m/Y")}} 
                            </p>
                        {% endfor %}
                                      
                    </div>
                </div>
            </div>
        </main>







{% endblock %}