{% extends "base.html.twig" %}
{% block title %}Gafouni-first-blog{% endblock %}
{% block content %}

 <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <!--<h1>About Me</h1> -->
                            <span class="subheading">Partagez vos articles avec nous!</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: grey">
            <div class="container px-4 px-lg-5">
                {# <a class="navbar-brand" href="index.html">Gafouni-first-blog</a> #}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="?c=profile">Profil</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="?c=logout">Deconnexion</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="?c=admin">Administration</a></li>
                        
                    </ul>
                </div>
            </div>
        </nav>
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h2>Bonjour {{user.firstName}} ! </h2>

                        <a class="btn btn-primary" href="?c=newPost" >Proposez un nouvel article</a>

                        <h3>Merci de nous avoir propose les articles ci-dessous:</h3>

                        {% for post in posts %}
                            <a href="post.html">
                                <h2 class="post-title">{{post.title}}</h2>
                                <h3 class="post-subtitle">{{post.author}}</h3>
                            </a>
                            <p class="post-meta">
                                Publie le
                                {{post.date|date("d/m/Y")}} 
                            </p>
                        {% endfor %}
                        
                        {# {% for post in posts %}
                            <h3 class="post-title">{{post.title}}</h3>
                            <h3 class="post-subtitle">{{post.author}}</h3>
             #}
                        {# <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p> #}
                    </div>
                </div>
            </div>
        </main>







{% endblock %}